<div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert-cep" style="display:none;">
    <strong id="alert-cep-msg">Cep não encontrado!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>